<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Contribute to Primer</title>
    <meta name="description" content="Primer, get bite sized information to get you ⬆ and 🏃 quickly.">
    <meta name="author" content="Primer">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/primer_favicon.png')}}">

</head>

<body>

    <div class="container">
        <div class="section">
            <h3>Contribute to Primer</h3>
            <div style='float: right;'>
                <a href="../">Home</a> |
                <a href="/stats">Stats</a>
            </div>
        </div>
        <p>There is lot to write about in the field of Computer Science. It'll be a lot easy if we all could contribute
            a little.</p>
        <p>To contribute, first check if the topic is already covered, if you are sure it's not, then proceed with
            choosing the subject it falls under, for example pip will fall under Python, similarly, ES6 under
            JavaScript.</p>
        <p>Once you choose the subject, write the content in a seperate Markdown file in the directory for that subject.
            If you are new to Markdown, see <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
                target="_blank">this</a>.</p>

        <p>Fork the repo from <a href="https://github.com/Devyanshu/primer" target="_blank">Github</a> and make a Pull
            Request after adding the desired Primer.</p>
        <h4>Format</h4>
        <p>Please stick to the following format while writing</p>
        <pre><code># Heading
##### By [&lt;your-Github-username&gt;](&lt;link-to-your-Github-profile&gt;)
                  
&lt;full content here&gt;  
                  
                  
#### Further reads
&lt;provide atleast two links&gt;</code></pre>
        <p>See this <a href="https://github.com/Devyanshu/primer/blob/master/Python/pip.md" target="_blank">example</a>
        </p>
        <h4>Important points</h4>
        <ul>
            <li>Do not plagiarize the content, write in your own words.</li>
            <li>Keep the content less than 250 words,</li>
            <li>If adding any image, either use a URL or upload in the images folder and then use its absolute path.
            </li>
            <li>Provide atleast 2 links for further reading</li>
        </ul>
        <h4>Other ways to contribute</h4>
        <ul>
            <li>Raise an issue if you want some some topic to be added,</li>
            <li>Improve any existing content,</li>
            <li>Organize directories and other stuff</li>
        </ul>
    </div>

</body>

</html>