<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Primer</title>
    <meta name="description" content="Primer, get bite sized information to get you ⬆ and 🏃 quickly.">
    <meta name="author" content="Primer">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/primer_favicon.png')}}">

</head>

<body>

    <div class="container">
        <div class="section">
            <h1>Primer</h1>
            <h5>Short explanation of things to get you ⬆ and 🏃 quickly.</h5>

        </div>

        {% for primer in data%}
        <h5>{{primer}}</h5>
        <ul>
            {% for topic in data[primer]%}
            <li><a href='/read?subject={{primer}}&primer={{topic}}'>{{topic}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}

    </div>

</body>

</html>