<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{{primer}} | {{subject}}</title>
    <meta name="description" content="Primer, get bite sized information to get you ⬆ and 🏃 quickly.">
    <meta name="author" content="Primer">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/primer_favicon.png')}}">

</head>
<style>
    .container {
        max-width: 80%;
    }
</style>

<body>

    <div class="container">
        <br><br>
        <div style='float: right;'>
            <a href="../">Home</a> |
            <a href="https://github.com/Devyanshu/primer/blob/master/{{subject}}/{{primer}}.md" target="_blank">Edit</a>
        </div>

        <div>
            {% autoescape off %}
            {{content}}
            {%endautoescape%}
        </div>
    </div>

</body>

</html>