<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{{primer}} | {{subject}}</title>
    <meta name="description" content="Primer, get bite sized information to get you ⬆ and 🏃 quickly.">
    <meta name="author" content="Primer">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/primer_favicon.png')}}">

</head>
<style>
    .container {
        max-width: 80%;
    }
</style>

<body id='content'>

    <div class="container">
        <br><br>
        <div style='float: right;'>
            <a href="../">Home</a> |
            <a href="https://github.com/Devyanshu/primer/blob/master/{{subject}}/{{primer}}.md" target="_blank">Edit</a>
            |
            <span onclick="dark()">&#128161;</span>
        </div>

        <div>
            {% autoescape off %}
            {{content}}
            {%endautoescape%}
        </div>
    </div>

</body>
<script>
    var counter = 0;
    function dark() {
        counter++;
        var body_el = document.getElementById('content');
        var code_el = document.getElementsByTagName('code');
        if (counter % 2 == 1) {
            body_el.style.backgroundColor = '#000'; body_el.style.color = '#fff';
            for (var i = 0; i < code_el.length; i++) { code_el[i].style.backgroundColor = "#000"; code_el[i].style.color = '#fff'; }
        }
        else {
            body_el.style.backgroundColor = '#fff'; body_el.style.color = '#000';
            for (var i = 0; i < code_el.length; i++) { code_el[i].style.backgroundColor = "#fff"; code_el[i].style.color = '#000'; }
        }
    }
</script>

</html>