<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Stats</title>
    <meta name="description" content="Primer, get bite sized information to get you ⬆ and 🏃 quickly.">
    <meta name="author" content="Primer">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton_min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/primer_favicon.png')}}">

</head>

<body>

    <div class="container">
        <div class="section">
            <h1>Stats</h1>
            <a style='float: right;' href="../">Home</a>

        </div>

        <div class="row" style="text-align: center;">
            <div class="four columns">
                <h5>{{tp}} Primers</h5>
            </div>
            <div class="four columns">
                <h5>{{tt}} topics</h5>
            </div>
            <div class="four columns">
                <h5>Last updated {{lu}}</h5>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="four columns">
                <h5>{% if tc ==1 %}
                    {{tc}} contributor
                    {% else %}
                    {{tc}} contributors
                    {% endif %}
                </h5>
            </div>
            <div class="four columns">
                <h5>{% if ts ==1 %}
                    {{ts}} star
                    {% else %}
                    {{ts}} stars
                    {% endif %}
                </h5>
            </div>
            <div class="four columns">
                <h5>{% if tf ==1 %}
                    {{tf}} fork
                    {% else %}
                    {{tf}} forks
                    {% endif %}
                </h5>
            </div>
        </div>
        <div style="margin-top: 5%;">
            <h4>Contributors</h4>
            {% for cs in data%}
            <div class="row">

                <div class="two columns">
                    <img src="{{data[cs].avatarUrl}}" height="150" width="150">
                </div>
                <div class="ten columns">
                    <h5><a href="{{data[cs].profile}}" target="_blank">{{cs}}</a></h5>
                    <h6>{% if data[cs].contributions ==1 %}
                        {{data[cs].contributions}} contribution
                        {% else %}
                        {{data[cs].contributions}} contributions
                        {% endif %}
                    </h6>
                    {% if data[cs].primers %}
                    {% if data[cs].primers ==1 %}
                    <h6>1 Primer written</h6>
                    {% else %}
                    <h6>{{data[cs].primers}} Primers written</h6>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}

        </div>
    </div>

</body>

</html>